<div class="jumbotron center">
	<h1>About this site</h1>
	<p>So I created this pinterest knockoff in Ruby on Rails today.  I'm going to use it as my sharing spot for pictures and graphics. </br>     -JR Fent</p>
</div>